body {
    background-image: url(http://print24.com/de/blog/wp-content/uploads/2013/11/animation24-x.gif);
}

nav a {
    color: cyan;
}

#current-link {
    text-decoration: aqua;
}

.uppercase {
    text-transform: uppercase;
    font-size: 38px;
    text-decoration: cyan;
}

img {
    width: 250px;
    height: auto;
}

h1 {
    border: 2px dashed black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

